<div class="product-list">
    <ng-container>
        <p *ngIf="productMessage !== undefined" class="message-p">
            <fa-icon [icon]="iconbell"></fa-icon>
            {{productMessage}}
        </p>
    </ng-container>
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src="{{item.image}}" alt="image"/></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.color}}</td>
                <td>{{item.category}}</td>
                <td>{{item.description}}</td>
                <td>
                    <fa-icon  (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon>
                    <fa-icon routerLink="/app/seller-update-product/{{item.id}}"  [icon]="editIcon" class="adjust-update-link"></fa-icon>
            </tr>
        </tbody>
    </table>
</div>