<div class="update-product">
    <h1>Update Product</h1>
    <ng-container>
        <p>
        <p *ngIf="productMessage !== undefined" class="message-p">
            <fa-icon [icon]="checkIcon"></fa-icon>
            {{productMessage}}
        </p>
    </ng-container>
    <form #addProduct="ngForm" class="common-form" (ngSubmit)="Submit(addProduct.value)">
        <input type="name" ngModel="{{productData?.name}}" class="form-input" name="name" placeholder="enter product name" />
        <input type="price"ngModel="{{productData?.price}}" class="form-input" name="price" placeholder="enter product price" />
        <input type="category" ngModel="{{productData?.category}}" class="form-input" name="category" placeholder="enter product category" />
        <input type="text" ngModel="{{productData?.color}}" class="form-input" name="color" placeholder="enter product color" />
        <textarea type="description" ngModel="{{productData?.description}}" class="form-input" name="description"
            placeholder="enter product description">
            </textarea>
        <input type="text" ngModel="{{productData?.image}}" class="form-input" name="image" placeholder="enter product image URL" />
        <button class="form-button">Update Product</button>
    </form>
</div>